<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">


          <ul class="nav navbar-nav">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">New <span
                          class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">DESERT DUNES | SPRING/SUMMER 2019</a></li>
                      <li><a href="#">Women</a></li>
                      <li><a href="#">Men</a></li>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Travel</a></li>
                      <li><a href="#">Jewellery</a></li>
                  </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Women <span
                          class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">All Women</a></li>
                      <li><a href="#">Nico Core</a></li>
                      <li><a href="#">Tops</a></li>
                      <li><a href="#">Kurtas & Tunics</a></li>
                      <li><a href="#">Dresses</a></li>
                      <li><a href="#">Bottoms</a></li>
                      <li><a href="#">Saris & Dupattas</a></li>

                  </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Men <span
                          class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">All Men</a></li>
                      <li><a href="#">Nico Core</a></li>
                      <li><a href="#">T-Shirts & Shirts</a></li>
                      <li><a href="#">Kurtas & Jackets</a></li>
                      <li><a href="#">Trousers</a></li>
                      <li><a href="#">Watches</a></li>

                  </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Home<span
                          class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">All Home</a></li>
                      <li><a href="#">Nico Core</a></li>
                      <li><a href="#">Dining</a></li>
                      <li><a href="#">Bedding & Cushions</a></li>
                      <li><a href="#">Bar & Entertaining</a></li>
                      <li><a href="#">Fragrances</a></li>

                  </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Stores<span
                          class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Delhi</a></li>
                      <li><a href="#">Mumbai</a></li>
                      <li><a href="#">Banglore</a></li>
                      <li><a href="#">Hyderabad</a></li>
                      <li><a href="#">Chennai</a></li>
                      <li><a href="#">Goa</a></li>

                  </ul>
              </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <form class="form-inline" action="https://www.google.com/">
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              
              </form>
          </ul>
      </div>
  </div>
</nav>

<div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner ">
          <div class="item active">
              <img src="./assets/15.jpg" alt="Los Angeles" class="img">
          </div>

          <div class="item">
              <img src="./assets/16.jpg" alt="Chicago" class="img">
          </div>

          <div class="item">
              <img src="./assets/17.jpg" alt="New york" style="width:100%;">
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</div>
